.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Wyższy dystans od góry */
  margin-bottom: 20px; /* Dystans poniżej tabeli */
  padding: 0 400px; /* Dystans od lewej i prawej strony kontenera */
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Mniejszy dystans poniżej okienek wyszukiwania */
}

.filter-container {
  display: flex;
  align-items: center; /* Wyśrodkowanie przycisku 'Filter' w pionie */
  gap: 10px; /* Odstęp pomiędzy okienkami wyszukiwania i przyciskiem */
}

.filter-field {
  margin-right: 10px; /* Odstęp pomiędzy okienkami wyszukiwania */
}

.filter-button {
  margin-bottom: 20px;
  margin-left: 10px; /* Odstęp od ostatniego okienka wyszukiwania */
}

table {
  width: 20%; /* Szerokość tabeli, można dostosować */
  max-width: 120px; /* Maksymalna szerokość tabeli */
  margin: 0 auto; /* Wyśrodkowanie tabeli */
  border-collapse: collapse; /* Usunięcie odstępów między komórkami tabeli */
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

.mat-form-field {
  width: 200px; /* Szerokość okienek wyszukiwania */
}

.centered-table {
  margin: 0 auto;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
